<%- include('header') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Result for <%= comment._id %> </h1>
    </div>
    Name: <%= comment.name %> <br>
    Age: <%= comment.age %> <br>
    Height: <%= comment.height %> <br>
    Weight: <%= comment.weight %>
    <hr>

 <%- include('footer') -%>
