<%- include('header') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
    <h1>Here is your data</h1>
  </div>

  You entered the following ..<br>

  Your age is: <%= url %><br>
  Your height is: <%= coms %>

<%- include('footer') -%>
