<%- include('header') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <h1>Calorie Track Profile for <%= user.userName %></h1>
      <img src="<%= user.profilePicURL%>" width="200">
      <hr>
      <p> Welcome <%= user.googlename %>
          with email <%= user.googleemail %>
          You are logged in to Calorie Track.
      </p>
      <p> Last update on <%=user.lastUpdate %> </p>
    </div>

 <%- include('footer') -%>
